<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template1">
<head>
<meta charset="ISO-8859-1"/>
<title>votre Banquee</title>
</head>
<body>
	<div layout:fragment="content">
		
	

		<!-- partie droite -->
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-primary">
				<div class="panel-heading">problème d'autorisation</div>
				<div class="panel-body">
					<div class="text-danger"> 
						Vous n'avez pas le droit d'acc&eacute;der a cette ressource	
					</div>
				
				</div>
			</div>			
		</div>

	</div>
</body>
</html>